
#profile{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background-image: url(../images/p.jpg);
    background-size: contain;
    background-position: center;
    border: solid white 3px;
    margin: 10px;
}
#contact{
    background: rgb(173, 168, 168);
}
#hardSkill{
    background: rgb(94, 91, 91);
}
#language{
    background: rgb(49, 48, 48);
}
h5{
    text-decoration: underline;
    text-decoration-style: solid ;
}
.icon{
    margin-left: -140px;
}
#interest{
    background: rgb(0, 0, 0);
}
#interest-border{
    border-left: dashed;
}
#about{
    margin-top: 40px;
}
