#profile{
    width: 250px;
    height: 250px;
    background-image: url(../images/profile.jpg);
    background-size: cover;
    background-position:center;
    border-radius:250px;
    margin: 15px;
}
